plan.md
venv/
backend/venv/
*.sqlite3
__pycache__/
*.pyc
.vscode/
.env
node_modules/
dist/
build/
backend/config/__pycache__/
backend/accounts/__pycache__/
backend/accounts/migrations
backend/marketplace/__pycache__/
backend/marketplace/migrations
logo.png
